:root {
    --ibmg-logo: url('../assets/main-logo-ibmg.png');
    --ibmg-card-logo: url('../assets/ibmg-card-logo.png');
    --master-logo-ibmg: url('../assets/master-logo-ibmg.png');
    --nav-people: url('../assets/navbar-people.png');
    --mobile-logo: url('../assets/mobile-ibmg-logo.png');
    --favicon: url('../assets/favicon.ico');
    --favicon-16: url('../assets/favicon-16x16.png');
    --favicon-32: url('../assets/favicon-32x32.png');
}
