
.dashboard-widget-title {
    font-size: 0.9rem !important;
    color: #003366 !important;
}
.summary-icon {
    font-size: 60px !important;
}


.rz-display-flex.rz-row.rz-align-items-normal.rz-justify-content-normal {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    gap: 15px !important;
    width: 100% !important;
    box-sizing: border-box !important;
}

.week-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0;
}

.grid-cell {
    min-height: 120px;
}

.test-form-container {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}

.aircraft-info-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

@supports (display: grid) {
    @media(min-width:0) {
        .aircraft-info-grid {
            grid-template-columns: 1fr;
        }
    }
}
.light-grey-btn {
    background-color: #eae7e7 !important;
    color: black !important;

    .light-grey-btn:hover {
        background-color: #c0c0c0 !important;
        color: black !important;
    }
}

.test-form-container .bg-light img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
    
.rz-dialog.rz-open {
    border-radius: 12px !important;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15) !important;
    overflow: hidden !important;
    padding: 0.5rem !important;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #ffffff !important;
}

.rz-dialog-content {
    padding: 0 !important;
}
.time-picker-row {
    display: flex !important;
    flex-wrap: wrap !important; 
    gap: 1rem;
}


.submit-btn,
.rz-button-primary {
    height: 48px;
    border-radius: 12px !important;
    font-weight: 600;
    font-size: 14px;
}
.location {
    border: 1px solid #dee2e6 !important;
    border-radius: 12px !important;
    height: 48px !important;
}


.calendar-grid-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    z-index: 1000;
}




