h1, h2, h3, h4 {
    color: $secondary-color;
    margin-bottom: $spacing-unit;
}

p {
    color: #444;
}

.color-white {
    color: var(--color-white);
}

.fw-600 {
    font-weight: 600;
}

.rz-dropdown, .rz-textbox, .rz-textbox:hover {
    border: 1px solid var(--dark-electric-blue) !important;
}
