:root {
    --color-white: #ffffff;
    --bright-gray: #E8ECEF;
    --color-sunray: #E1C25A;
    --dark-electric-blue: #4F6A7B;
    --color-black: #000000;
    --color-begonia: #FF7678;
    --color-alice-blue: #EAF2FF;
    --color-true-blue: #0B5ED7;
    --color-light-orange: #F8F5EC;
    --color-titanium-white: #F2F4F7;
}
