.border-radius-50 {
    border-radius: 50% !important;
}


.fw-600 {
    font-weight: 600;
}

.fs-26 {
    font-size: 26px;
}

.dark-blue-color {
    color: var(--dark-electric-blue);
}

.rz-primary:focus-visible{
    outline-color : unset !important;
}