@page "/auth/password-reset"
@using PearDrop.Authentication.Constants
@using PearDrop.Authentication.RazorPages.Constants
@model PasswordReset
@{
    ViewData["Title"] = "Reset Your Password";
    ViewData["PageFunc"] = "password-reset";
}

<section id="auth-container" class="d-flex justify-content-end">
    <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center min-vh-100 bg-white px-5">
        <div class="w-100 d-flex justify-content-center align-items-center flex-column">
            <div class="auth-logo">
                <img src="~/assets/assets/auth-logo.png" alt="IBMG Supply Chain Services" />
            </div>
            <h3 class="p-2 rounded-title mt-4 mb-0">New Password</h3>
            @if (Model.IsCompleted)
            {    
                <div>Your password has now changed. Click <a href="@Url.Page(AuthPageLocations.AuthSignIn, new { area = "auth" })">here</a> to login.</div>
            }
            else if (Model.TokenError)
            {
                <div>There appears to be a problem with the link. Please click a <a href="@Url.Page(AuthPageLocations.AuthRequestPassword, new { area = "auth" })">here</a> to create a new one.</div>
            }
            else
            {
                <form class="form-horizontal" asp-antiforgery="true" method="post" asp-route-data-token="@Model.Token">
                    <small>Enter the new password then your password will change.</small>
                    <div class="form-group mt-4 mb-3">
                        <label asp-for="PageModel!.Password" class="form-label"></label>
                        <input class="form-control" type="password" asp-for="PageModel!.Password" />
                        <span class="text-danger small" asp-validation-for="PageModel!.Password"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PageModel!.PasswordConfirmation" class="form-label"></label>
                        <input class="form-control" type="password" asp-for="PageModel!.PasswordConfirmation" />
                        <span class="text-danger small" asp-validation-for="PageModel!.PasswordConfirmation"></span>
                    </div>
                    <input asp-for="PageModel!.Token" type="hidden" />
                    <div class="d-grid mt-4 mb-4">
                        <button class="btn btn-primary btn-lg" type="submit" data-processable>Reset Password</button>
                    </div>
                </form>
            }
        </div>
    </div>
</section>