@page "/auth/request-account-verification"
@using PearDrop.Authentication.Constants
@using PearDrop.Authentication.RazorPages.Constants
@model RequestAccountVerification
@{
    ViewData["Title"] = "Request Account Verification";
    ViewData["PageFunc"] = "request-account-verification";
}

<section id="auth-container" class="d-flex justify-content-end">
    <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center min-vh-100 bg-white px-5">
        <form class="form-horizontal w-100" asp-antiforgery="true" method="post">
            <div class="auth-logo">
                <img src="~/assets/assets/auth-logo.png" alt="IBMG Supply Chain Services" />
            </div>
            <h3 class="p-2 rounded-title mt-4 mb-0">Need Verification?</h3>
            @if (Model.IsCompleted)
            {
                <div class="mt-2">Please check your emails for the reset details.</div>
            }
            else
            {
                <small>Please confirm your email address below and we will send you a verification link.</small>
                <div class="form-group mt-4 mb-3">
                    <label asp-for="PageModel!.EmailAddress" class="form-label"></label>
                    <input class="form-control" type="text" asp-for="PageModel!.EmailAddress" />
                    <span class="text-danger small" asp-validation-for="PageModel!.EmailAddress"></span>
                </div>
                <div class="d-grid mt-4 mb-4">
                    <button class="btn btn-primary btn-lg" type="submit" data-processable>Continue</button>
                </div>
                <div>
                    <span class="text-muted">
                        <a href="@Url.Page(AuthPageLocations.AuthSignIn, new {area = "auth"})">
                            <i class="fas fa-angle-double-left"></i>
                            Return to login.
                        </a>
                    </span>
                </div>
            }
        </form>
    </div>
</section>