@inherits LayoutComponentBase

<RadzenNotification />

<RadzenLayout class="sidebar-layout ">
    <RadzenHeader class="ibmg-header d-flex justify-content-between align-items-center px-4">
        <div class="d-flex align-items-center gap-2">
            <a href="/" class="d-inline d-md-none">
                <img src="/mobile-ibmg-logo.png" class="ibmg-logo" />
            </a>
            <a href="/" class="d-none d-md-inline">
                <img src="/main-logo-ibmg.png" class="ibmg-logo" />
            </a>
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
        </div>
        <div class="d-flex align-items-center gap-3">
            <img src="/navbar-people.png" class="ibmg-avatar" />
        </div>
    </RadzenHeader>
    <RadzenSidebar Expanded="@sidebarExpanded" class="ibmg-sidebar">
        <RadzenPanelMenu DisplayStyle="@(sidebarExpanded? MenuItemDisplayStyle.IconAndText: MenuItemDisplayStyle.Icon)"
                         Match="NavLinkMatch.Prefix" class="ibmg-panelmenu">
            <RadzenPanelMenuItem Icon="home" Text="Dashboard" Path="/" />
            <RadzenPanelMenuItem Icon="shopping_cart" Text="Orders" Path="/orders-grid" />
            <RadzenPanelMenuItem Icon="groups" Text="Operatives Management" Path="/operative-management" />
            <RadzenPanelMenuItem Icon="mail" Text="Help & Support" Path="/help-&-support" />
            <RadzenPanelMenuItem Text="Administration" Icon="account_box">
                <RadzenPanelMenuItem Text="Customers" Path="customers" Icon="business_center"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Users" Path="users" Icon="group"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Operative Roles" Path="/roles" Icon="content_paste"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Support Email" Path="/administration/support-email" Icon="support_agent"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </RadzenSidebar>
    <CascadingValue Value="sidebarExpanded">
        <RadzenBody class="rz-p-0">
            <main class="container-fluid page">
                @Body
            </main>
        </RadzenBody>
    </CascadingValue>
</RadzenLayout>